/* Error: expected "{".
 *    ,
 * 69 | background-color: rgb(29, 28, 28);
 *    |                                  ^
 *    '
 *   scss\_home.scss 69:34  @import
 *   scss\main.scss 3:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 69 \2502  background-color: rgb(29, 28, 28);\a    \2502                                   ^\a    \2575 \a   scss\\_home.scss 69:34  @import\a   scss\\main.scss 3:9     root stylesheet';
}
